.navLeft_container {
  position: relative;
  z-index: 5;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #000;
}

.navLeft_header {
  color: #fff;
  background-color: #1976d2;
  padding: 23px;
}
