* {
  margin: 0;
  padding: 0;
}

.nav_container {
  display: flex;
  align-items: flex-start;
}

.icon_menu_container {
  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 20px;
  }
}

.navSup_container {
  width: 85%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #1976d2;
}

.navSup_user {
  display: flex;
  gap: 20px;
  align-items: center;

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.navProfile {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #fff;
  border-radius: 999px;
  color: #000;
  padding: 10px 10px 10px 35px;

  i {
    font-size: 20px;
  }

  img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -10px;
  }
}
